$country-list:
afghanistan af,
aland-islands ax,
albania al,
algeria dz,
american-samoa as,
andorra ad,
angola ao,
anguilla ai,
antarctica aq,
antigua-and-barbuda ag,
argentina ar,
armenia am,
aruba aw,
australia au,
austria at,
azerbaijan az,
bahamas bs,
bahrain bh,
bangladesh bd,
barbados bb,
belarus by,
belgium be,
belize bz,
benin bj,
bermuda bm,
bhutan bt,
bolivia bo,
bonaire bq,
botswana bw,
bouvet-island bv,
brazil br,
british-indian-ocean-territory io,
brunei-darussalam bn,
bulgaria bg,
burkina-faso bf,
burundi bi,
cambodia kh,
cameroon cm,
canada ca,
cape-verde cv,
cayman-islands ky,
central-african-republic cf,
chad td,
chile cl,
china cn,
christmas-island cx,
colombia co,
comoros km,
congo cg,
democratic-republic-congo cd,
cook-islands ck,
costa-rica cr,
croatia hr,
cuba cu,
curacao cw,
cyprus cy,
czech-republic cz,
denmark dk,
djibouti dj,
dominica dm,
dominican-republic do,
ecuador ec,
egypt eg,
el-salvador sv,
equatorial-guinea gq,
eritrea er,
estonia ee,
ethiopia et,
faroe-islands fo,
fiji fj,
finland fi,
france fr,
french-guiana gf,
french-polynesia pf,
french-southern-territories tf,
gabon ga,
gambia gm,
georgia ge,
germany de,
ghana gh,
gibraltar gi,
greece gr,
greenland gl,
grenada gd,
guadeloupe gp,
guam gu,
guatemala gt,
guernsey gg,
guinea gn,
guinea-bissau gw,
guyana gy,
haiti ht,
heard-island-and-mcdonald-islands hm,
honduras hn,
hong-kong hk,
hungary hu,
iceland is,
india in,
indonesia id,
iran ir,
iraq iq,
ireland ie,
isle-of-man im,
israel il,
italy it,
jamaica jm,
japan jp,
jersey je,
jordan jo,
kazakhstan kz,
kenya ke,
kiribati ki,
kuwait kw,
kyrgyzstan kg,
lao la,
latvia lv,
lebanon lb,
lesotho ls,
liberia lr,
libya ly,
liechtenstein li,
lithuania lt,
luxembourg lu,
macao mo,
macedonia mk,
madagascar mg,
malawi mw,
malaysia my,
maldives mv,
mali ml,
malta mt,
marshall-islands mh,
martinique mq,
mauritania mr,
mauritius mu,
mayotte yt,
mexico mx,
monaco mc,
mongolia mn,
montenegro me,
montserrat ms,
morocco ma,
mozambique mz,
myanmar mm,
namibia na,
nauru nr,
nepal np,
netherlands nl,
new-caledonia nc,
new-zealand nz,
nicaragua ni,
niger ne,
nigeria ng,
niue nu,
norfolk-island nf,
northern-mariana-islands mp,
norway no,
oman om,
pakistan pk,
palau pw,
palestine ps,
panama pa,
papua-new-guinea pg,
paraguay py,
peru pe,
philippines ph,
pitcairn pn,
poland pl,
portugal pt,
puerto-rico pr,
qatar qa,
reunion re,
romania ro,
rwanda rw,
saint-barthelemy bl,
saint-lucia lc,
saint-martin mf,
samoa ws,
san-marino sm,
sao-tome-and-principe st,
saudi-arabia sa,
senegal sn,
serbia rs,
seychelles sc,
sierra-leone sl,
singapore sg,
sint-maarten sx,
slovakia sk,
slovenia si,
solomon-islands sb,
somalia so,
south-africa za,
south-sudan ss,
spain es,
sri-lanka lk,
sudan sd,
suriname sr,
svalbard-and-jan-mayen sj,
swaziland sz,
sweden se,
switzerland ch,
syrian-arab-republic sy,
taiwan tw,
tajikistan tj,
tanzania tz,
thailand th,
timor-leste tl,
togo tg,
tokelau tk,
tonga to,
trinidad-and-tobago tt,
tunisia tn,
turkey tr,
turkmenistan tm,
tuvalu tv,
uganda ug,
ukraine ua,
united-states us usa,
united-states-minor-outlying-islands um,
uruguay uy,
uzbekistan uz,
vanuatu vu,
venezuela ve,
viet-nam vietnam vn,
british-virgin-islands vg,
us-virgin-islands vi,
wallis-and-futuna wf,
western-sahara eh,
yemen ye,
zambia zm,
zimbabwe zw;


$country_list2:
cocos-islands keeling-island cc,
cote-d-ivoire ivory-coast ci,
falkland-islands malvinas fk,
holy-see vatican-city-state va,
peoples-republic-of-korea north-korea kp,
republic-of- korea south-korea kr,
moldova republic-of-moldova md,
south-georgia south-sandwich-islands gs,
micronesia federated-states-of-micronesia fm,
turks-and-caicos-islands turks-islands caicos-islands tc,
united-arab-emirates uae ae,
russian-federation russia ru;


$country-list3:
bosnia-and-herzegovina bosnia herzegovina ba,
saint-helena ascension tristan-da-cunha sh,
saint-kitts-and-nevis saint-kitts nevis kn,
saint-pierre-and-miquelon saint-pierre miquelon pm,
saint-vincent-and-the-grenadines saint-vincent the-grenadines grenadines vc,
united-kingdom great-britain uk gb;


$non-iso: 
unknown
abkhazia
kosovo
northern-cyprus
northern-ireland
somaliland 
wales
scotland 
england;
